@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto+Slab:300|Open+Sans:300);

body {
  margin: 0;
}

/* whoami js object section */
.whoami {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #002B36;
}

pre {
  display: inline-block;
  margin: 0 auto;
}

pre code {
  color: #ddd;
  font-family: "Source Code Pro", monospace;
  font-size: 1.7vmax;
}

.key {
  color: #B58900;
}

.value {
  color: #2AA198;
}

/* projects section */
.projects {
  display: flex;
  flex-shrink: 10;
  height: 100vh;
  align-items: center;
  background-color: #737373;
  box-shadow: 0px 0px 6vmax 2vmax rgba(0, 0, 0, 0.1) inset;
}

.projects a {
  color: #bbb;
  text-decoration: none;
}

.projects a:hover,
.projects a:focus {
  color: #eee;
  transition: .2s;
}

.desc {
  display: flex;
  flex: none;
  margin: auto;
  color: #eee;
}

.desc-img {
  margin-right: 2vw;
  width: 20vw;
}

.desc-title {
  font-size: 2vmax;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  margin-bottom: 4vh;
}

.desc-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.3vmax;
  width: 35vw;
}

.desc-extra {
  margin-top: 2vh;
  display: flex;
  flex: none;
}

.icon {
  width: 3vw;
}

.seperator {
  width: 1.5vw;
}
