@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  margin: 0;
}

/* whoami js object section */
.whoami {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #002B36;
}

pre {
  display: inline-block;
  margin: 0 auto;
}

pre code {
  color: #ddd;
  font-family: "Source Code Pro", monospace;
  font-size: 1.7vmax;
}

.key {
  color: #B58900;
}

.value {
  color: #2AA198;
}

/* projects section */
.projects {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #2AA198;
}

.projects-item {
  margin: auto;
}
