body {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 17px;
}

::selection {
  background: #ffb7b7;
}

a {
  color: #222;
  text-decoration: none;
  transition: 0.1s;
}

a:link,
a:visited {
  border-bottom: 3px solid #f1733f;
}
a:hover {
  color: #fff;
  background-color: #f1733f;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.container {
  width: 44em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.header {
  display: flex;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  justify-content: space-between;
}

.name {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3em;
  display: flex;
}

.byline {
  font-size: 1.2em;
  display: flex;
  margin-top: .5em;
  color: #f1733f;
}

.contact {
  font-size: .95em;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: center;
}

.contact-item {
  margin-bottom: 0.3em;
}

.section-title {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: .5em;
  margin-left: 8em;
  text-transform: uppercase;
  color: #aaa;
}

.section-item {
  display: flex;
}

.section-item-date {
  line-height: 1.6em;
  width: 20%;
  padding-right: 1em;
  text-align: right;
  color: #888;
}

.section-item-content {
  width: 80%;
}

.section-item-content-title {
  line-height: 1.6em;
}

.section-item-content-description {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.section-item-content-standalone {
  line-height: 1.6em;
  margin-bottom: .6em;
}
