html, body {
  font-family: "Source Sans Pro", sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 1.5rem;
  background: #57cda4;
}

@media print {
  html, body {
    background: #fff;
  }
}

::selection {
  background: #92dfc4;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.1s;
}

a:link,
a:visited {
  border-bottom: 3px solid #00ac56;
}
a:hover {
  color: #fff;
  background-color: #00ac56;
}

.container {
  width: 48rem;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  padding: 4rem;
  margin: 2rem auto;
}

@media print {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.header-intro {
  width: 61.75%;
}

.header-intro-name {
  font-size: 2.7rem;
  color: #28015d;
  line-height: 3rem;
  text-transform: uppercase;
}

.header-intro-subtitle {
  font-size: 1.5rem;
  color: #00ac56;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.header-intro-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-intro-info-col-itrem {
  line-height: 1.6rem;
}

.header-photo-img {
  width: 10rem;
  border-radius: 50%;
}

.content {
  display: flex;
}

.content-lg {
  width: 66%;
}

.content-sm {
  width: 34%;
}

.content-lg > .section {
  padding-right: 2rem;
}

.section {
  margin-top: 2rem;
}

.section-title {
  font-size: 1.5rem;
  border-bottom: 3px solid #28015d;
  color: #28015d;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.section-entry {
  margin-top: 0.5rem;
 }

.section-entry-title {
  font-size: 1.5rem;
  color: #28015d;
  margin-top: 1.2rem;
}

.section-entry-company {
  color: #00ac56;
  font-weight: 600;
  line-height: 2rem;
}

.section-entry-project {
  color: #00ac56;
  font-weight: 600;
  line-height: 2rem;
}

.section-entry-project::before {
  content: "> ";
}

.section-entry-details {
  display: flex;
  font-size: 0.95rem;
  font-weight: 600;
}

.section-entry-details-date {
  width: 50%;
}

.section-entry-details-generic {
  font-size: 0.95rem;
  font-weight: 600;
}

.section-entry-description {
  font-size: 0.9rem;
}
