body {
  font-family: "Roboto", sans-serif;
}

a {
  transition: color .1s;
  color: #265c83;
}

a:link,
a:visited {
  color: #265c83;
}
a:hover {
  color: #7fdbff;
}
a:active {
  transition: color .3s;
  color: #007be6;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.container {
  width: 44em;
  margin: auto;
}

.header {
  display: flex;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  justify-content: space-between;
}

.name {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3em;
  display: flex;
}

.byline {
  font-size: 1.2em;
  font-weight: 300;
  display: flex;
  margin-top: .5em;
  color: #f1733f;
}

.contact {
  font-size: .95em;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: center;
}

.contact > a {
  line-height: 1.3em;
}

.section-title {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: .5em;
  margin-left: 8em;
  text-transform: uppercase;
  color: #aaa;
}

.section-item {
  display: flex;
}

.section-item-date {
  line-height: 1.3em;
  width: 20%;
  padding-right: 1em;
  text-align: right;
  color: #888;
}

.section-item-content {
  width: 80%;
}

.section-item-content-title {
  margin-bottom: .3em;
}

.section-item-content-description {
  line-height: 1.3em;
  margin-bottom: 1em;
}

.section-item-content-standalone {
  line-height: 1.3em;
  margin-bottom: .6em;
}
