{% extends 'index.html' %}

{% block title %}About sirodoht{% endblock title %}

{% block content %}
<div class="content">
  <h1>About</h1>
  <img src="{{ get_url(path='img/self.jpg') }}" height="130" alt="self photo" class="photo">
  <p>
    Hi, I'm Theodore Keloglou. My email is <a href="mailto:zf@sirodoht.com">zf@sirodoht.com</a>.
  </p>
  <p>
    All content on this site is available under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a> (Public Domain&nbsp;Dedication).
  </p>
  <br><a href="/">← blog</a>
</div>
{% endblock content %}
