{% extends 'index.html' %}

{% block title %}Blog • sirodoht{% endblock title %}

{% block content %}
<div class="content">
  <ul class="posts">
    {% set blog = get_section(path='blog/_index.md') %}
    {% for post in blog.pages %}
    <li>
      <a href="{{ post.permalink }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date(format="%+") }}" itemprop="datePublished">{{ post.date | date(format='%B %e, %Y') }}</time>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
