<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="rwNpyf6MRrcZtmUGKzrP3J6S2lWqXVqyq8O5MKtOm0g">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}">
  </head>
  <body>
    {% block content %}
    <div class="content">
      <h1 class="brand"><a href="/">sirodoht blog</a></h1>
      <ul class="posts">
        {% set blog = get_section(path='blog/_index.md') %}
        {% for post in blog.pages %}
        <li>
          <a href="{{ post.permalink }}">{{ post.title }}</a>
          <time datetime="{{ post.date | date(format="%+") }}" itemprop="datePublished">{{ post.date | date(format='%B %e, %Y') }}</time>
        </li>
        {% endfor %}
      </ul>
    </div>

    <footer>
      <br>---
      <br>&copy; sirodoht. <a href="/rss.xml">RSS</a>. <a href="/about">About</a>.
      <br>All content on this site is available under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
    </footer>
    {% endblock content %}

    <section id="isso-thread"></section>
    <script data-isso="//isso.projects.sirodoht.com/" src="//isso.projects.sirodoht.com/js/embed.min.js"></script>
  </body>
</html>
