<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="rwNpyf6MRrcZtmUGKzrP3J6S2lWqXVqyq8O5MKtOm0g">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}">
  </head>
  <body>
    <div class="grid">
      {% block content %}
      <div class="content">
      </div>
      {% endblock content %}
      <div class="menu">
        <span>Theodore Keloglou</span>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/wikipedia">Wikipedia</a></li>
          <li><a href="/role-models">Role Models</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
