<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}">
  </head>
  <body>
    {% block content %}
    <main>
      <h1 class="brand"><a href="/">sirodoht blog</a></h1>
      <ul class="posts">
        {% set blog = get_section(path='blog/_index.md') %}
        {% for post in blog.pages %}
        <li>
          <a href="{{ post.permalink }}">{{ post.title }}</a>
          <time datetime="{{ post.date | date(format="%+") }}" itemprop="datePublished">{{ post.date | date(format='%B %e, %Y') }}</time>
        </li>
        {% endfor %}
      </ul>
    </main>

    <footer>
      <br><em>---</em>
      <br><a href="/rss.xml">RSS</a>. <a href="/about/">About</a>. <a href="/projects/">Projects</a>.
      <br>No rights reserved. <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
    </footer>
    {% endblock content %}
  </body>
</html>
