{% extends 'index.html' %}

{% block title %}{{ page.title }} - sirodoht blog{% endblock title %}

{% block content %}
<div class="content">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <span class="byline"><time datetime="{{ page.date | date(format="%+") }}" itemprop="datePublished">{{ page.date | date(format="%B %e, %Y") }}</time></span>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>
  </article>
</div>
<footer>
  <a href="/">← all posts</a>
  <br>
  <br>---
  <br>&copy; sirodoht. Public domain.
</footer>
{% endblock content %}
