{% extends 'index.html' %}

{% block title %}{{ page.title }} - sirodoht blog{% endblock title %}

{% block content %}
<div class="content">
  <a href="/" class="brand-small">sirodoht blog</a>
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <div class="byline">
      Published on <time datetime="{{ page.date | date(format="%+") }}" itemprop="datePublished">{{ page.date | date(format="%B %e, %Y") }}</time>
    </div>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>
  </article>
  <section id="isso-thread"></section>
  <script
    data-isso="https://isso.projects.sirodoht.com/"
    src="https://isso.projects.sirodoht.com/js/embed.min.js"></script>
</div>
<footer>
  <a href="/">← all posts</a>
  <br>
  <br>---
  <br>&copy; sirodoht. Public domain.
</footer>
{% endblock content %}
