{% extends 'index.html' %}

{% block title %}sirodoht projects{% endblock title %}

{% block content %}
<main>
  <a href="/" class="brand-small">sirodoht blog</a>

  <h2>Products</h2>
  <section class="projects">
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/mal">mail</a>
      </div>
      <div class="projects-item-description">Wiki.</div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/gift-exchanger">Gift Exchanger 2.0</a>
      </div>
      <div class="projects-item-description">
        For joyful secret santas!
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/martianpins">martianpins</a>
      </div>
      <div class="projects-item-description">
        Self-hosted IPFS pinning service.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/opencult.com">Open Cult</a>
      </div>
      <div class="projects-item-description">
        Ridiculously minimal event system for groups.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/knowhub">KnowHub</a>
      </div>
      <div class="projects-item-description">
        Failed attempt for a distributed home for remote companies.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/avocado-jobs">Avocado Jobs</a>
      </div>
      <div class="projects-item-description">
        Job application tracker for developers.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/oscarator.com">Oscarator</a>
      </div>
      <div class="projects-item-description">
        Guess the Oscars.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/hasol">hasol</a>
      </div>
      <div class="projects-item-description">
        House cleaning rota software.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/vulfpeck-index">Vulfpeck Index</a>
      </div>
      <div class="projects-item-description">
        Index of Vulf Records YouTube song links.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/chrome-new-tab">New Tab for Chrome</a>
      </div>
      <div class="projects-item-description">
        Self-packaged Chrome plugin for an empty new tab page.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/skglist.com">skglist</a>
      </div>
      <div class="projects-item-description">
        Thessaloniki's most voted places.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/skg.network">skg.network</a>
      </div>
      <div class="projects-item-description">
        Mayor candidateships for Thessaloniki elections 2019.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/sunshine-index">Sunshine Index</a>
      </div>
      <div class="projects-item-description">
        List of various cities ordered by yearly sunshine hours.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/galois">galois</a>
      </div>
      <div class="projects-item-description">
        Dead simple frontend-only gallery for AWS S3.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/ipi">ipi</a>
      </div>
      <div class="projects-item-description">
        Reliable, barebones, what-is-my-ip.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/draw">draw</a>
      </div>
      <div class="projects-item-description">
        Just draw.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/productivity.sh">productivity.sh</a>
      </div>
      <div class="projects-item-description">
        Dangerously effective productivity trick.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/chess">chess</a>
      </div>
      <div class="projects-item-description">
        Console-based, two-player chess game.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/sirodoht.com">sirodoht.com</a>
      </div>
      <div class="projects-item-description">
        This website.
      </div>
    </article>
  </section>

  <h2>Utilities</h2>
  <section class="projects">
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/eddy">eddy</a>
      </div>
      <div class="projects-item-description">
        Editorconfig file generator.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/life">life</a>
      </div>
      <div class="projects-item-description">
        Life in Rust. Rust in Life.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/go-overlap">overlap</a>
      </div>
      <div class="projects-item-description">
        Timezones in CLI.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/remark-template">remark-template</a>
      </div>
      <div class="projects-item-description">
        Template for remark.js presentations.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/algorithms">algorithms</a>
      </div>
      <div class="projects-item-description">
        Various, in C.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/project-euler">Projet Euler</a>
      </div>
      <div class="projects-item-description">
        A few solutions of Project Euler problems.
      </div>
    </article>
  </section>

  <h2>Configuration</h2>
  <section class="projects">
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/dotfiles">dotfiles</a>
      </div>
      <div class="projects-item-description">
        I like mine.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/borg-utils">borg-utils</a>
      </div>
      <div class="projects-item-description">
        Helpful for starting your borg backup setup.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/minio-dokku">minio-dokku</a>
      </div>
      <div class="projects-item-description">
        For when one decides S3 is not good enough.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/isso-dokku">isso-dokku</a>
      </div>
      <div class="projects-item-description">
        Self-hosted comments using isso+dokku.
      </div>
    </article>
    <article class="projects-item">
      <div class="projects-item-name">
        <a href="https://github.com/sirodoht/pihole-docker">pihole-docker</a>
      </div>
      <div class="projects-item-description">
        Dockerfile configs for pihole.
      </div>
    </article>
  </section>

</main>
<footer>
  <a href="/">← blog</a>
  <br>
  <br>---
  <br>No rights reserved. <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
</footer>
{% endblock content %}
