<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="css/resume.css") }}">

    <title>{{ config.title }}</title>
  </head>
  <body>
    <div class="outer-container">
      <div class="container">

        <div class="header">
          <div class="header-intro">
            <h1 class="header-intro-name">Theodore Keloglou</h1>
            <div class="header-intro-subtitle">Software Engineer</div>
            <div class="header-intro-info">
              <div class="header-intro-info-col">
                <div class="header-intro-info-col-item"><a href="https://sirodoht.xyz/">sirodoht.xyz</a></div>
                <div class="header-intro-info-col-item"><a href="mailto:theodorekeloglou@gmail.com">theodorekeloglou@gmail.com</a></div>
              </div>
              <div class="header-intro-info-col">
                <div class="header-intro-info-col-item"><a href="https://github.com/sirodoht">GitHub</a></div>
                <div class="header-intro-info-col-item">London, United Kingdom</div>
              </div>
            </div>
          </div>
          <div class="header-photo">
            <img src="{{ get_url(path="img/self.jpg") }}" alt="Me" class="header-photo-img">
          </div>
        </div>

        <div class="content">
          <div class="content-lg">
            <div class="section">
              <div class="section-title">Professional Experience</div>
              <div class="section-entry">
                <div class="section-entry-title">Founder & Software Engineer</div>
                <div class="section-entry-company"><a href="https://fuguestateless.com/">Fugue Stateless Ltd</a></div>
                <div class="section-entry-details">
                  <div class="section-entry-details-date">Jul 2017 - Present</div>
                  <div class="section-entry-details-location">London, United Kingdom</div>
                </div>
                <div class="section-entry-description">
                  Personal software company.
                  Projects include <a href="https://avocadojobs.com/">Avocado Jobs</a>,
                  a job application tracker for developers and <a href="https://knowhub.app/">KnowHub.app</a>,
                  company documentation for remote teams.
                </div>
              </div>
              <div class="section-entry">
                <div class="section-entry-title">Software Engineer (Ethereum)</div>
                <div class="section-entry-company"><a href="https://cryptokabn.com/">Crypto KABN Holdings Inc.</a></div>
                <div class="section-entry-details">
                  <div class="section-entry-details-date">Aug 2018 - Present</div>
                  <div class="section-entry-details-location">Victoria, Canada</div>
                </div>
                <div class="section-entry-description">
                  I work on the <a href="https://ethereum.org/">Ethereum</a> integration of the <a href="https://cryptokabn.com/">KABN ID platform</a>,
                  a blockchain-based service that provides KYC and AML processes to companies.
                  Built with Golang and gRPC.
                </div>
              </div>
              <div class="section-entry">
                <div class="section-entry-title">Software Engineer (Backend)</div>
                <div class="section-entry-company"><a href="https://getsquire.com/">Squire Technologies, Inc.</a></div>
                <div class="section-entry-details">
                  <div class="section-entry-details-date">April 2018 - July 2018</div>
                  <div class="section-entry-details-location">New York City, United States</div>
                </div>
                <div class="section-entry-description">
                  Worked on a fully featured booking and payments system for barbershops.
                  My role specialized on the Node.js RESTful API that was consumed by
                  the company's web and mobile apps.
                </div>
              </div>
              <!-- <div class="section-entry">
                <div class="section-entry-title">Backend/DevOps Engineer</div>
                <div class="section-entry-company"><a href="https://okthess.gr/">OK!Thess</a></div>
                <div class="section-entry-details">
                  <div class="section-entry-details-date">Aug 2017 - Nov 2017</div>
                  <div class="section-entry-details-location">Thessaloniki, Greece</div>
                </div>
                <div class="section-entry-description">
                  Rebuilt the <a href="https://github.com/OKThess/website">web application</a>
                  backend that handles the incubator's startup applications,
                  along with the mentors CRM. Written from scratch using Django,
                  deployed in AWS Elastic Beanstalk using Terraform.
                </div>
              </div> -->
              <div class="section-entry">
                <div class="section-entry-title">Web Developer</div>
                <div class="section-entry-company">Curly Loop, Inc.</div>
                <div class="section-entry-details">
                  <div class="section-entry-details-date">Nov 2014 - May 2017</div>
                  <div class="section-entry-details-location">Thessaloniki, Greece</div>
                </div>
                <div class="section-entry-description">
                  Worked on <a href="https://www.netscan.co/">netscan.co</a>,
                  a client-side network diagnostics SaaS startup. Full-stack; Node.js
                  backend, Angular and React frontends. Developed a wide variety
                  of components and services.
                </div>
              </div>
            </div>
            <div class="section">
              <div class="section-title">Open Source Contribution</div>
              <div class="section-description">
                <div class="section-description-lead">
                  Avid open source contributor since 2011.
                </div>
                • <a href="https://opencult.com/">Open Cult</a>, a ridiculously minimal event system (Python/Django)
                <br>• <a href="https://github.com/sirodoht/skglist.com">skg list</a>, the most voted places in Thessaloniki (Python/Django)
                <br>• <a href="https://github.com/sirodoht/go-overlap">overlap</a>, a timezone utility (Golang)
                <br>• <a href="https://github.com/sirodoht/eddy">eddy</a>, a CLI EditorConfig file generator (Rust)
              </div>
            </div>

          </div>

          <div class="content-sm">
            <div class="section">
              <div class="section-title">Technologies</div>
              <div class="section-description">
                <div class="section-description-lead">
                  JavaScript, Node.js, Python, Django, AWS, Golang
                </div>
              </div>
            </div>

            <div class="section">
              <div class="section-title">Volunteer Projects</div>
              <div class="section-entry">
                <div class="section-entry-project"><a href="https://devitconf.org/">DEVit</a></div>
                <div class="section-entry-description">
                  Organizing member; not-for-profit Web development conference.
                </div>
              </div>
              <div class="section-entry">
                <div class="section-entry-project"><a href="http://www.shesharp.org/">SheSharp</a></div>
                <div class="section-entry-description">
                  Core member; community engaged with women’s presence in technology.
                </div>
              </div>
              <!-- <div class="section-entry">
                <div class="section-entry-project"><a href="http://skgtech.io/">SKGTech</a></div>
                <div class="section-entry-description">
                  Core member; tech locals of Thessaloniki; city growth as objective.
                </div>
              </div> -->
            </div>

            <div class="section">
              <div class="section-title">Academic Education</div>
              <div class="section-entry">
                <div class="section-entry-title">BSc Applied Informatics (dropped out)</div>
                <div class="section-entry-company"><a href="http://www.uom.gr/">University of Macedonia</a></div>
                <div class="section-entry-details-generic">Oct 2012 - dropped out</div>
                <div class="section-entry-description">
                  4-year degree with syllabus equivalent to Business and
                  Computing programs.
                </div>
              </div>
            </div>
            <div class="section">
              <div class="section-title">Talks</div>
              <div class="section-description">
                Regular speaker at meetups.
                <br>
                Among others:
              </div>
              <div class="section-entry">
                <div class="section-entry-project"><a href="http://slides.com/sirodoht/http2-overview">HTTP/2 Overview</a></div>
                <div class="section-entry-description">
                  <a href="https://www.meetup.com/PyThess/events/240579669/">Python meetup</a>, Jun 2017; Thessaloniki.
                </div>
              </div>
              <div class="section-entry">
                <div class="section-entry-project">
                  <a href="http://slides.com/sirodoht/event-loop">JavaScript Async / Event Loop</a>
                </div>
                <div class="section-entry-description">
                  <a href="https://www.meetup.com/Thessaloniki-Node-js-Meetup/events/236095246/">Node.js meetup</a>, Dec 2016; Thessaloniki.
                </div>
              </div>
              <div class="section-entry">
                <div class="section-entry-project"><a href="https://www.youtube.com/watch?v=poLIoR2i2Zo">ES6 Ghosts</a></div>
                <div class="section-entry-description">
                  <a href="https://www.meetup.com/Thessaloniki-Node-js-Meetup/events/229757448/">Node.js meetup</a>, Mar 2016; Thessaloniki.
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </body>
</html>
